.App {
  text-align: center;
}
#topbar_logo_img {
  height: 40px;
  width: 80px;
  border-radius: 100%;
  margin-right: 20px;
}

#login_logo_img {
  height: 300px;
  width: 320px;
  border-radius: 100%;
  margin-right: 20px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.topbar-left {
  display: flex;
  align-items: center;
}

.topbar-logo {
  width: 40px; /* Adjust this as per your logo's dimensions */
  margin-right: 10px;
}

.topbar-title {
  margin: 0;
  margin-right: 20px;
  font-weight: 500;
}

.topbar-welcome {
  margin: 0;
  font-weight: 400;
  color: #666;
}

.topbar-buttons {
  display: flex;
  gap: 10px; /* space between buttons */
}

.topbar-button {
  color: #333;
  border-color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.topbar-button:hover {
  background-color: #333;
  color: #fff;
}

.create_plan {
  text-align: center;
  padding: 20px;
}

.create_plan h1 {
  font-size: 24px; /* Adjust the heading font size */
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: center;
}

label {
  width: 100px; /* Adjust the width as needed */
  text-align: right;
  margin-right: 15px;
}

/* Style the Typography component */
.MuiTypography-root {
  font-weight: bold;
  font-size: 16px; /* Adjust the font size */
}

/* Increase the width of the select input */
.MuiSelect-select.MuiSelect-select {
  width: 150px; /* Adjust the width as needed */
}

input {
  flex-grow: 1;
  padding: 5px;
}

button {
  margin-top: 15px;
}

.plan_buttons {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: center;
}

.login {
  text-align: center;
  padding: 20px;
}

.signup_login_field {
  width: 300px;
}

.plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  /* padding-bottom: 80px; */
}

.plans_heading_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Expand to fill the container's width */
  padding-bottom: 20px; /* Add spacing between the heading/button and MyPlans */
}

/* .plan_heading {
  padding-left: 20px;
} */

/* .create_plan_button {
  padding-right: 200px;
} */
.View_Plan_Table {
  padding-top: 50px;
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  padding-right: 80px;
}

.top-row {
  display: flex;
  align-items: center; /* Center the heading and HomeMacroTable vertically */
}

.home_header {
  margin-top: 50px;
  width: 66%;
}

.home_table {
  width: 100px;
  align-items: center;
  justify-content: center;
}

.bottom_home_table {
  display: block;
  margin-top: 10px; /* Add some spacing between the tables if needed */
  width: 100%;
}

.home-container {
  max-width: 1000px; /* Or adjust based on your design */
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif; /* Or any font family you prefer */
}

.home-header {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.home-subheader {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #666;
  text-align: left;
}

.home-section {
  margin-bottom: 30px;
}

.home-macro-table,
.home-workout-table {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 5px;
  background-color: #f5f5f5;
}
.plans-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif; /* or any other font family you like */
}

.plans-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.plans-header h1 {
  margin: 0;
  font-size: 2em;
  color: #333;
}

.plans-create-button {
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.plans-create-button:hover {
  background-color: #0056b3;
  color: #fff;
}

.plans-section {
  margin-bottom: 30px;
}

.plans-subheader {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #666;
}

.plans-view {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border-radius: 5px;
  background-color: #f5f5f5;
}
