.App {
  text-align: center;
}
#topbar_logo_img {
  height: 40px;
  width: 80px;
  border-radius: 100%;
  margin-right: 20px;
}

#login_logo_img {
  height: 300px;
  width: 320px;
  border-radius: 100%;
  margin-right: 20px;
}

.top_bar {
  outline-style: solid;
  outline-color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-between; /* This will align items to the start and end of the container */
  align-items: center; /* This will vertically center items */
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  position: relative;
}

.left_side {
  display: flex; /* Create a flex container for GymBuddy and the logo */
  align-items: center; /* Vertically center the logo and text */
}

.create_plan {
  text-align: center;
  padding: 20px;
}

.create_plan h1 {
  font-size: 24px; /* Adjust the heading font size */
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: center;
}

label {
  width: 100px; /* Adjust the width as needed */
  text-align: right;
  margin-right: 15px;
}

/* Style the Typography component */
.MuiTypography-root {
  font-weight: bold;
  font-size: 16px; /* Adjust the font size */
}

/* Increase the width of the select input */
.MuiSelect-select.MuiSelect-select {
  width: 150px; /* Adjust the width as needed */
}

input {
  flex-grow: 1;
  padding: 5px;
}

button {
  margin-top: 15px;
}

.plan_buttons {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: center;
}

.login {
  text-align: center;
  padding: 20px;
}

.signup_login_field {
  width: 300px;
}
